@font-face{
	font-family: 'amatic';
	src: url('font/amatic/AmaticSC-Regular.ttf') format('truetype');
}

html{
	width: 1366px;
}

body{
	width: 980px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

/*--------------------------------------------------------------------------header--------------------------------------------------------*/
header{
	position:relative;
	display:flex;

	
}

header img {
	position: absolute;
	top: 0px;
	right: 0px;
}

header nav{
	background-color: black;
	margin-top: 185px;
	height: 38px;
	width:100%;
	
}

header ul{
	display: flex;
    justify-content: space-between;
	margin-top: 0px;
	padding: 0 10px 0 10px;
}

header li{
	list-style: none;
	height: 28px;
	padding-top: 10px;
}
header li:hover, header li:focus{
	background-color: grey;
}


header a{
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'open sans condensed',sans-serif;
	font-size: 14px;
	padding: 0 5px 0 5px;
}

/*--------------------------------------------------------------fin du header---------------------------------------------------------------*/





/*-----------------------------------------------------------------fin de section-----------------------------------------------------------*/

/*------------------------------------------------------------------footer------------------------------------------------------------------*/

footer{
	width: 980px;
	height: 72px;
	position: relative;	
	padding: 10px;
	margin: 20px;
}


#ligneFooter{
	background-color: black;
	width: 516px;
	height: 4px;
	position: absolute;
	left: 462px;
	top: 30px;
}
