@font-face{
	font-family: 'amatic';
	src: url('font/amatic/AmaticSC-Regular.ttf') format('truetype');
}




/*--------------------------------------------------------------------------header--------------------------------------------------------*/

.menu{
	background-color: black;
}



header a, header a:hover{
	color: #FFFFFF;
	text-decoration:none;
	font-family: 'open sans condensed',sans-serif;
	font-size: 17px;
}

header li{
	padding: 10px 0 10px 0;
}

header li:hover{
	background-color: grey;
}


/*--------------------------------------------------------------fin du header---------------------------------------------------------------*/



/*--------------------------------------------------------------------section-----------------------------------------------------------*/

/*-----------------------------------------------------------------fin de section-----------------------------------------------------------*/



/*------------------------------------------------------------------footer------------------------------------------------------------------*/

footer{
	position: relative;	
	padding: 10px;
	margin-top: 6%;
}


#ligneFooter{
	background-color: black;
	width: 516px;
	height: 4px;
	position: absolute;
	left: 462px;
	top: 30px;
}
/*-----------------------------------------------------------------fin de footer-----------------------------------------------------------*/