@font-face{
	font-family: 'amatic';
	src: url('font/amatic/AmaticSC-Regular.ttf') format('truetype');
}




/*--------------------------------------------------------------------------header--------------------------------------------------------*/

.menu{
	background-color: black;
}



header a, header a:hover{
	color: #FFFFFF;
	text-decoration:none;
	font-family: 'open sans condensed',sans-serif;
	font-size: 13px;
}

header li{
	padding: 10px 0 10px 0;
}

header li:hover{
	background-color: grey;
}
/*menu reduit*/
/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}



/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#menu-toggle{
	position: fixed;
}

/*--------------------------------------------------------------fin du header---------------------------------------------------------------*/



/*--------------------------------------------------------------------section-----------------------------------------------------------*/
/*section a propos*/

.note{
	position: relative;
	top: -43px;
	margin-bottom: -60px;
}

.postIt{
	z-index: 0;
	position:relative;
	margin-top: 7px;
	
}

.noteText{
	z-index: 1;
	position: relative;
	color: black;
	margin-bottom: -41px;
	padding: 0 0 0 0;
}


.propos{
	margin-top: 40px;
	padding: 23px;
}

.propos{
	background-color: black;
	color: white;
	font-size: 21px;
}

.propos h1{
	font-size: 35px;
}

.propos a{
	text-decoration: none;
	color:white;
}

.propos a:hover{
	color:grey;
}

.appareil{
	float: right;
}

/*mariage*/
.presentation h1{
	padding: 0;
}

.presentation a{
	margin: 20px;
}

.presentation p{
	font-family: 'Sacramento', cursive;
	font-size: 28px;
}

.lien{
	font-family: 'Sacramento', cursive;
	font-size: 23px;
	background-color: black;
	color: white;
	margin-bottom: 10px;
}

.lien:hover{
	text-decoration:none;
	color:white;
	background-color: grey;
}
.presentation .col-lg-12{
	padding-left: 0px;
	padding-right: 0px;
}

aside{
	background-color: #e1e1e1;
	margin-top: 40px;
	padding: 40px 0 40px 0;
	box-shadow: 5px 5px 5px #BEBEBE;
}

.fleche_droite {
    width: 0; 
    height: 0; 
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; 
     
    border-left:16px solid black; 
}
/*-----------------------------------------------------------------fin de section-----------------------------------------------------------*/



/*------------------------------------------------------------------footer------------------------------------------------------------------*/

footer{
	position: relative;	
	padding: 10px;
	margin-top: 3%;
}


#ligneFooter{
	background-color: black;
	width: 516px;
	height: 4px;
	position: absolute;
	left: 473px;
	top: 30px;
}
/*-----------------------------------------------------------------fin de footer-----------------------------------------------------------*/